/* Style for the delete page */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body dt {
    font-weight: bold;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s, border-color 0.3s;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s, border-color 0.3s;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }
